*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: red;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 2em;
    color: white;
    user-select: none;
}